<mat-grid-list cols="2" rowHeight="2:1">

  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <app-leaderboard></app-leaderboard>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div class="example-container">
  <h2>Draw</h2>

  <div
    cdkDropList
    #todoList="cdkDropList"
    [cdkDropListData]="deckList"
    [cdkDropListConnectedTo]="[doneList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box new" *ngFor="let card of deckList" cdkDrag>{{card.situation}}</div>
  </div>
    </div>

    <div class="example-container">
  <h2>Hand</h2>
  <div
    cdkDropList
    #doneList="cdkDropList"
    [cdkDropListData]="hand"
    [cdkDropListConnectedTo]="[todoList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" [ngClass]="{new: card.visible===false}" *ngFor="let card of hand" cdkDrag>
        {{card.situation}}<span matBadge="{{card.score}}" matBadgeOverlap="true" *ngIf="card.visible"></span>
    </div>
  </div>
    </div>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="2" [rowspan]="1">
    <div>
      <button mat-raised-button color="primary" (click)="onClick()">Submit</button>
    </div>
  </mat-grid-tile>

</mat-grid-list>
