<div class="wrapper">

  <div class="menu">

    <div class='header'>
      <h1>Round {{gm.getRound()}}</h1>
      <h3>{{gm.getCurrentPlayer().name}}</h3>
      <p>Sort cards from 1 to {{gm.MAX_CARDS}}</p>
      <p>First player to {{gm.END_HAND_SIZE}} cards win!!!</p>
    </div>

    <app-leaderboard></app-leaderboard>
  </div>

  <div class='content'>


  <div class="list">
    <h2>Draw</h2>
    <div
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="deckList"
      [cdkDropListConnectedTo]="[doneList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
    <div class="example-box new" *ngFor="let card of deckList" cdkDrag>{{card.situation}}</div>
    </div>
  </div>

<div class="list">
  <h2>Hand</h2>
    <div
    cdkDropList
    #doneList="cdkDropList"
    [cdkDropListData]="hand"
    [cdkDropListConnectedTo]="[todoList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" [ngClass]="{new: card.visible===false}" *ngFor="let card of hand" cdkDrag>
        {{card.situation}} <span class="badge badge-secondary">{{card.score}}</span>
        <!-- {{card.situation}} <span class="badge badge-secondary" *ngIf="card.visible">{{card.score}}</span> -->
    </div>
  </div>
</div>

<button type="button" class="btn btn-primary btn-lg btn-block" (click)="onClick()">Submit</button>

  </div>
</div>
