.media-body{
  padding-left: 30px;
}

.underline{
  font-weight: bold;
}

.btn-warning{
  margin-left: 30%;
  margin-right: 30%;
}

button{
  margin-top: 20px;
  margin-left: 5%;
  margin-right: 5%;
  width: 40%;
}

i{
  margin-right: 3px;
}
