<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">The Very Bad Game</h1>
    <p class="lead">Here are the rules of The Very Bad Game, Mkay?</p>
    <hr class="my-4">


    <div class="media">
      <img src="assets/mascot.png" alt="Mascot" height="400" width="auto">
      <div class="media-body">
        <p><i class="fas fa-cat"></i><span class="underline">First Rule:</span> You don't talk about the game.</p>
        <p><i class="fas fa-cat"></i><span class="underline">Second Rule:</span> You don't talk about the game.</p>
        <p><i class="fas fa-cat"></i><span class="underline">Third Rule:</span> Every team starts with 3 cards, in ascending order, which have a situation and an index of “misery”: The higher the number, more miserable is the situation.</p>
        <p><i class="fas fa-cat"></i><span class="underline">Fourth Rule:</span> On each turn, you will receive a card and you will judge how BAD that situation is, putting it your hand while maintaining the sorting order.</p>
        <p><i class="fas fa-cat"></i><span class="underline">Fifth Rule:</span> If you put the card in the right order, you keep it. Otherwise, you lose it.</p>
        <p><i class="fas fa-cat"></i><span class="underline">Sixth Rule:</span> You need to collect 7 cards to win the game.</p>
        <p><i class="fas fa-cat"></i><span class="underline">Seventh Rule:</span> If the game runs out of cards, the team(s) with the most cards in their possession win(s).</p>
        <p><i class="fas fa-cat"></i><span class="underline">Eighth and Final Rule:</span> You already play it in your daily life, and now you have to play it here. Life is tough: get over it.</p>
      </div>
    </div>

    <div class="container">
      <button type="button" class="btn btn-warning btn-lg" (click)="onClick(1)">Demo</button>
    </div>
    <div class="container">
      <button type="button" class="btn btn-primary btn-lg" (click)="onClick(3)">3 Teams</button>
      <button type="button" class="btn btn-primary btn-lg" (click)="onClick(4)">4 Teams</button>
    </div>
  </div>
</div>
