<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Sh!t Happens</h1>
    <p class="lead">Here are the rules of Sh!t Happens, Mkay?</p>
    <hr class="my-4">


    <div class="media">
      <img src="assets/mascot.png" alt="Mascot" height="400" width="auto">
      <div class="media-body">
        <p><i class="fas fa-cat"></i><span class="underline">First Rule of SH:</span> You don't talk about SH.</p>
        <p><i class="fas fa-cat"></i><span class="underline">Second Rule of SH:</span> You don't talk about SH.</p>
        <p><i class="fas fa-cat"></i><span class="underline">Third Rule of SH:</span> Once you receive a card, you will judge how BAD is that situation, sequencing that in your card deck. If you misjudge, well tough luck.</p>
        <p><i class="fas fa-cat"></i><span class="underline">Fourth Rule of SH:</span> You can check the numbers on the right to help you identify where you should fit your card. The higher the number, the worse the situation.</p>
        <p><i class="fas fa-cat"></i><span class="underline">Fifth Rule of SH:</span> Every team starts with 3 cards.</p>
        <p><i class="fas fa-cat"></i><span class="underline">Sixth Rule of SH:</span> You need collect 7 cards to win the game.</p>
        <p><i class="fas fa-cat"></i><span class="underline">Seventh Rule of SH:</span> If the game runs out of cards, the team(s) with the most cards in their possession win(s).</p>
        <p><i class="fas fa-cat"></i><span class="underline">Eighth and Final Rule of SH:</span> You already play it in your daily life, and now you have to play it here. Life is tough: get over it.</p>
      </div>
    </div>

    <div class="container">
      <button type="button" class="btn btn-primary btn-lg" (click)="onClick(3)">3 Teams</button>
      <button type="button" class="btn btn-primary btn-lg" (click)="onClick(4)">4 Teams</button>
    </div>
  </div>
</div>
